{% include base_path %}

{% assign title = post.title %}
{% assign link_prefix = "/files/" %}
{% if post.link contains "://" %}
  {% assign link_prefix = "" %}
{% endif %}

<article class="publication-card">
  <div class="publication-card__body">
    <p class="publication-card__meta">
      <span>{{ post.conference | markdownify | remove: '<p>' | remove: '</p>' }}</span>
      {% if post.date %}
        <span>{{ post.date }}</span>
      {% endif %}
    </p>
    <h3 class="publication-card__title">{{ title }}</h3>
    <div class="publication-card__authors">{{ post.authors | markdownify }}</div>
    <div class="publication-card__links">
      <a href="{{ link_prefix }}{{ post.link }}" rel="permalink">Paper</a>
    </div>
  </div>
</article>
